# Extrayendo datos

In [44]:
'''
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
#drive.flush_and_unmount()
'''

"\nfrom google.colab import drive\ndrive.mount('/content/drive', force_remount=True)\n#drive.flush_and_unmount()\n"

In [45]:
linea = 149

In [46]:
import numpy as np
import pandas as pd

In [47]:
data = pd.read_json('http://www.siboif.gob.ni/rest/estadisticas?intendencia=Bancos&fecha[min]=2020-03-01&fecha[max]=2020-03-31&tipo_reporte') #, orient='split')

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14564 entries, 0 to 14563
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   intendencia       14564 non-null  object
 1   institucion       14564 non-null  object
 2   tipo_reporte      14564 non-null  object
 3   fecha             14564 non-null  object
 4   orden             14564 non-null  int64
 5   grupo             14564 non-null  object
 6   variable_1        14564 non-null  object
 7   variable_2        14564 non-null  object
 8   variable_3        14564 non-null  object
 9   valor_1           14564 non-null  object
 10  valor_2           14564 non-null  object
 11  anio              14564 non-null  int64
 12  mes               14564 non-null  object
 13  key               14564 non-null  object
 14  tipo_institucion  14399 non-null  object
dtypes: int64(2), object(13)
memory usage: 1.7+ MB

In [49]:
data.columns

Index(['intendencia', 'institucion', 'tipo_reporte', 'fecha', 'orden', 'grupo',
       'variable_1', 'variable_2', 'variable_3', 'valor_1', 'valor_2', 'anio',
       'mes', 'key', 'tipo_institucion'],
      dtype='object')

In [50]:
data.institucion.unique()

array(['SF', 'SFB', 'SFN', 'ATLANTIDA', 'AVANZ', 'BAC', 'BANCO ATLÁNTIDA',
       'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCO PRODUZCAMOS',
       'BANPRO', 'BDF', 'FINANCIERA FAMA', 'Financiera FDL, S.A.',
       'FINANCIERA FINCA NICARAGUA', 'FINANCIERA FUNDESER', 'Total SFB',
       'Financiera FDL S.A.', 'Total SFN', 'TOTAL SFN'], dtype=object)

In [51]:
data.tipo_institucion.unique()

array([nan, 'Bancos', 'Financieras', 'Sistema Bancario',
       'Sistema Financiero', 'Total SFN', 'Totales'], dtype=object)

In [52]:
data.tipo_reporte.unique()

array(['Adecuación de Capital',
       'Estratificación de la Cartera Comercial por Monto y Plazo Contractual',
       'Estratificación de la Cartera por Actividad y Monto',
       'Estratificación de la Cartera por Actividad y Plazo Contractual',
       'Estratificación de la Cartera por Monto y Región Geográfica',
       'Estratificacion de la Cartera por Region Geografica y Plazo Contractual',
       'Estratificación de la Cartera por Situación y Monto',
       'Estratificación de la Cartera por Situación y Plazo Contractual',
       'Estratificación de la Cartera Total por Monto y Plazo Contractual',
       'Estratificación de los Depósitos a Plazo Por Monto y Plazo A Vencerse - Estratos',
       'Estratificación de los Depósitos a Plazo Por Monto y Plazo A Vencerse - Plazo Contractual',
       'Estratificación de los Depósitos a Plazo Por Monto y Plazo Contractual',
       'Estratificación de los Depositos por Monto y Modalidad',
       'Estratificación de los Depósitos por Monto y Region Geográfica',
       'Composicion de los Activos de Riesgos',
       'Empleados permanentes y temporales', 'Encaje Legal',
       'Estado de Resultados (ER)',
       'Estado de Situación Financiera (ESF)',
       'Estratificación de la Cartera de Consumo por Monto y Plazo Contractual',
       'Estratificación de la Cartera Hipotecaria por Monto y Plazo Contractual',
       'Estratificación de la Cartera Microcrédito por Monto y Plazo Contractual',
       'Indicadores Financieros', 'Monto Nocional',
       'Otro Resultado Integral (ORI)',
       'Riesgo Crédito Calificación de Cartera',
       'Riesgo Crédito Cartera por Situación',
       'Riesgo Crédito Cartera Vencida y en Cobro Judicial por Actividad',
       'Riesgo Crédito Prestamos a Partes Relacionadas',
       'Estratificación de la Cartera de Arrendamiento por Monto y Plazo Contractual',
       'Estratificación de Depósitos por Monto e Institución Financiera'],
      dtype=object)

In [53]:
data.variable_1.unique()

array(['I. TOTAL ACTIVOS DE RIESGO (A+B-C-D)',
       'A. Activos de Riesgo Ponderados (Anexo 2)',
       'Efectivo y Equivalentes de Efectivo',
       'Inversiones al Valor Razonable con Cambios en Resultados',
       'Inversiones al Valor Razonable con Cambios en Otro Resultado Integral',
       'Inversiones a Costo Amortizado, Neto',
       'Cartera de Créditos, Neta', 'Cuentas por cobrar, Neto',
       'Activos no corrientes Mantenidos para la Venta, neto',
       'Activos recibidos en recuperación de créditos',
       'Participaciones, Netas', 'Activo Material', 'Activos Intangibles',
       'Activos Fiscales', 'Otros Activos',
       'Cuentas Contingentes Deudoras, Netas',
       'B. Activos Nocionales por Riesgo Cambiario (Anexo 3)',
       'C. Menos: Ajustes Pendientes de Constituir',
       'D. Menos: Participaciones en Instrumentos de Capital',
       'II. CAPITAL MÍNIMO REQUERIDO',
       'III. BASE DE ADECUACION DE CAPITAL (A+B-C-D-E)',
       'A. Capital Primario', '1. Capital Pagado Ordinario',
       '2. Capital Pagado Preferente', '3. Donaciones Capitalizables',
       '4. Primas de Emisión', '5. Aportes para Incrementos de Capital',
       '6. Participaciones Minoritarias', '7. Reserva Legal',
       '8. Resultados Acumulados',
       '9. Otras Reservas de Caracter Irrevocable',
       '10. Menos: Plusvalía mercantil (Fondo de Comercio, Neto)',
       '11. Menos: Otros Activos Netos de amortización',
       'B. Capital Secundario', '1. Donaciones No Capitalizables',
       '2. Otro Resultado Integral Neto (saldo negativo)',
       '3. Otras Reservas Patrimoniales',
       '4. Resultados Acumulados Computables', 'Resultados Acumulados',
       'Menos: Ajustes de transición que afectan resultados acumulados (anexo 5)',
       'Menos: Resultado Acumulado de Ejercicios Anteriores No Distribuibles',
       '5. Resultados del Ejercicio Computables',
       'Resultados del Ejercicio',
       'Menos: Resultado del Ejercicio No Distribuible',
       '6. Capital Preferente Acumulativo y Otros Instrumentos Híbridos',
       '7. Obligaciones Subordinadas y Capital Preferente Redimibles',
       '8. Provisiones Genéricas Voluntarias',
       '9. Fondo de Provisiones Anticíclicas',
       '10. Menos: Revaluación y ganancia por ventas de activos no financieros con financiamiento (anexos 6A1 y 6A2)',
       'C. Menos Exceso (Capital Primario - Capital Secundario)',
       'D. Menos: Ajustes Pendientes de Constituir', '1) Provisiones',
       '2) Otros ajustes',
       'E. Menos: Participaciones en Instrumentos de Capital',
       'IV. ADECUACION DE CAPITAL (III / I)', 'Moneda Extranjera',
       'Moneda Nacional', '20', '50', '60', '100', '125', '150', '0',
       'Provisión de Cartera de Créditos',
       'Provisión para Bienes Recibidos en Recuperación de Créditos',
       'Provisión, Amortización y Deterioro de Otros Activos',
       'Cantidad de empleados permanentes y temporales',
       'Encaje Semanal Córdobas', 'Encaje Semanal Dólares',
       'Ingresos Financieros', 'Ingresos Financieros por Efectivo',
       'Ingresos Financieros por Inversiones',
       'Ingresos Financieros por Cartera de Créditos',
       'Otros Ingresos Financieros', 'Gastos Financieros',
       'Gastos Financieros por Obligaciones con el Público',
       'Gastos Financieros por Depósitos de Instituciones Financieras y de Organismos Internacionales',
       'Gastos Financieros por Operaciones de Reporto',
       'Gastos Financieros por Obligaciones con Instituciones Financieras y por Otros Financiamientos',
       'Otros Gastos Financieros',
       'Margen Financiero antes de Mantenimiento de Valor',
       'Ajustes netos por Mantenimiento de Valor',
       'Margen Financiero, bruto',
       'Resultados por Deterioro de Activos Financieros',
       'Margen Financiero, neto después de Deterioro de Activos Financieros',
       'Ingresos (Gastos) Operativos, neto', 'Resultado Operativo',
       'Ganancia por Valoración y Venta de Activos y Otros Ingresos',
       'Pérdida por Valoración y Venta de Activos',
       'Resultado después de Ingresos y Gastos operativos',
       'Ajustes netos por Diferencial Cambiario',
       'Resultado después de Diferencial Cambiario',
       'Gastos de Administración',
       'Resultados de operaciones antes de Impuestos y Contribuciones por Leyes Especiales',
       'Contribuciones por Leyes Especiales',
       'Gasto por Impuesto sobre la Renta', 'RESULTADO DEL EJERCICIO',
       'Activo', 'Caja', 'Banco Central de Nicaragua',
       'Instituciones Financieras', 'Depósitos Restringidos',
       'Equivalentes de Efectivo',
       'Inversiones a Valor Razonable con Cambios en Otro Resultado Integral',
       'Cartera a Costo Amortizado', 'Vigentes', 'Reestructurados',
       'Vencidos', 'Cobro Judicial',
       '(-) Comisiones Devengadas con la Tasa de Interés Efectiva',
       'Intereses y Comisiones por Cobrar sobre Cartera de Créditos',
       '(-) Provisión de Cartera de Créditos', 'Cuentas por Cobrar, Neto',
       'Activos Recibidos en Recuperación de Créditos', 'Pasivo',
       'Pasivos Financieros a Costo Amortizado',
       'Obligaciones con el Público', 'Depósitos a la Vista',
       'Depósitos de Ahorro', 'Depósitos a Plazo',
       'Intereses sobre Obligaciones con el Público por Depósitos',
       'Otras Obligaciones Diversas con el Público',
       'Obligaciones por Depósitos de Instituciones Financieras y de Organismos Internacionales',
       'Obligaciones con Instituciones Financieras y por otros Financiamientos',
       'Pasivos Fiscales', 'Otros Pasivos y Provisiones', 'PATRIMONIO',
       'Fondos Propios', 'Capital Social Pagado', 'Aportes a Capitalizar',
       'Reservas Patrimoniales', 'Resultado del Ejercicio',
       'Otro Resultado Integral Neto', 'Ajustes de Transición',
       'CUENTAS CONTINGENTES', 'CUENTAS DE ORDEN',
       '1.- Captaciones del Publico',
       '2.- Cuota de Mercado en Captaciones del Público',
       '3.- Cartera de Créditos Bruta',
       '4.- Cuota de Mercado de Cartera de Créditos Bruta',
       '1.- Total Activos Improductivos netos',
       '2.- Activos Improductivos Brutos / Activo Total',
       '3.- Activos Improductivos Netos / Activo Total',
       '4.- Indice de Morosidad de Cartera de Créditos Bruta',
       '6.- Cobertura de la Cartera de Créditos Improductiva',
       '7.- Cobertura de la Cartera de Créditos Bruta',
       '8.- Cobertura con Provisiones Individuales',
       '9.- Cartera en Riesgo / Cartera Bruta', '1.1 - Créditos Vigentes',
       '1.2 - Créditos Prorrogados', '1.3 - Créditos Reestructurados',
       '1.4 - Créditos Vencidos', '1.5 - Créditos en Cobro Judicial',
       '1. Agricultura', '2. Ganadería', '3. Industria', '4. Comercio',
       '5. Hipotecarios para vivienda', '6. Personales', '7. Vehículos',
       '8. Adelantos de Salario', '9. Tarjetas de Crédito Personales',
       '10. Sector Público', '11. Desarrollo Habitacional o Urbano',
       '12. Otros', '13. Extrafinanciamientos',
       '14. Tarjetas de Crédito Corporativas',
       '15. Tarjetas de Crédito Microfinanzas',
       '16. Intrafinanciamiento de Tarjeta Crédito Personales',
       '17. Intrafinanciamiento de Tarjeta Crédito Corporativas',
       '18. Intrafinanciamiento de Tarjeta Crédito por Operaciones de Microfinanzas',
       '19. Viviendas de Interés Social',
       '1. - Total Evaluación de Cartera', '1.1 Clasificación A',
       '1.2 Clasificación B', '1.3 Clasificación C',
       '1.4 Clasificación D', '1.5 Clasificación E',
       '1.- Razón de Capital (Nivel 1 + 2 + 3)* s/ APBR',
       'a.- Razón de Apalancamiento Financiero (Nivel 1+2+3)',
       'b.- Razón de Endeudamiento (Nivel 1 + 2 + 3)',
       '2.- Vulnerabilidad del Patrimonio',
       '3.- Capital Primario + Resultados de periodos anteriores / APBR',
       '1.- Efectivo y Equivalentes de Efectivo  / Captaciones del Público',
       '2.- Efectivo y Equivalentes de Efectivo / Cartera de Crédito Bruta',
       '1.- % Margen Financiero en Riesgo',
       '2.- Margen Financiero en Riesgo / Patrimonio',
       '3.- Valor Económico del Capital',
       '4.- Valor Económico del Capital (Dism)',
       'Indice de Morosidad de Cartera de Credito Bruta',
       'Indice de Morosidad de Cartera de Credito Neta',
       'Cobertura de la Cartera de Créditos Bruta',
       'Cobertura de la Cartera de Créditos Improductiva Bruta',
       'Cartera de Riesgo / Cartera Bruta', 'Activos M.N. c/m.v.',
       'Activos M.E.', 'Pasivos M.N. c/m.v.', 'Pasivos M.E.',
       'Monto Nocional M.N c/m.v.', 'Monto Nocional M.E.',
       'Monto Nocional de Activos por Riesgo Cambiario',
       'OTRO RESULTADO INTEGRAL',
       'Partidas que no se reclasificarán al Resultado del Ejercicio',
       'Reservas para Obligaciones Laborales al Retiro',
       'Resultados por Valoración',
       'Impuesto a las Ganancias relacionadas con los Componentes de Otro Resultado Integral',
       'Impuesto a las Ganancias relacionado con partidas que no se reclasifican',
       'Total Otro Resultado Integral', 'TOTAL RESULTADOS INTEGRALES',
       'A', 'B', 'C', 'D', 'E', 'Vigente', 'Prorrogadas',
       'Reestructuradas', 'Vencidas', 'Comercio', 'Personales',
       'Vehículos', 'Extra-Financiamiento', 'Tarjetas de Crédito',
       'Agricultura', 'Ganadería', 'Industria', 'Hipotecarios',
       'Vivienda', 'Otros', '2020.03',
       'Provisión para Créditos Contingentes',
       'Resultados por Participación en Asociadas, Negocios Conjuntos y Subsidiarias',
       'Prorrogados', 'Participaciones',
       'Partidas que se reclasificarán al Resultado del Ejercicio',
       'Diferencia de Cotización de Instrumentos Financieros',
       'Impuesto a las ganancias relacionadas con los componentes de otro resultado integral',
       'Impuesto a las Ganancias relacionado con partidas que pueden ser reclasificadas',
       'Deterioro de Inversiones a Costo Amortizado',
       'Deterioro de Activos no Corrientes Mantenidos para la Venta',
       'Deterioro de Participaciones',
       'Gastos Financieros por Obligaciones con el Banco Central de Nicaragua',
       'Gastos Financieros por Obligaciones Subordinadas y/o Convertibles en Capital',
       'Pasivos por Operaciones de Reporto',
       'Obligaciones con el Banco Central de Nicaragua',
       'Obligaciones Subordinadas y/o Convertibles en Capital',
       'Activos no Corrientes Mantenidos para la Venta', 'Capital Donado',
       'Gastos Financieros por Emisión de Deuda',
       'Obligaciones por Emisión de Deuda',
       'Entidades Valoradas por el Método de la Participación',
       'Importes transferidos al Estado de Resultados'], dtype=object)

In [54]:
data1_activos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='Activo'")
data1_activos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
431,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"5,522,670,281.0900",0.0000,2020,Marzo,1113-80202-20200331-10,Bancos
1516,Bancos,BAC,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"50,873,942,088.8200",0.0000,2020,Marzo,1107-80202-20200331-10,Bancos
2934,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"428,514,840.6800",0.0000,2020,Marzo,1149-80202-20200331-10,Bancos
3313,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"14,479,596,241.3500",0.0000,2020,Marzo,1109-80202-20200331-10,Bancos
4426,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"57,751,670,247.1400",0.0000,2020,Marzo,1106-80202-20200331-10,Bancos
6795,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"69,045,826,501.7300",0.0000,2020,Marzo,1105-80202-20200331-10,Bancos
8503,Bancos,BDF,Estado de Situación Financiera (ESF),2020-03-31,10,,Activo,,,"19,366,840,836.2800",0.0000,2020,Marzo,1108-80202-20200331-10,Bancos

In [55]:
fecha_datos = data1_activos.fecha.unique()[0]
fecha_datos

'2020-03-31'

In [56]:
data2_activos  = data1_activos[['fecha', 'institucion', 'valor_1']]
#data2_activos=data2_activos.append({'fecha' : fecha_datos , 'institucion' : 'BANCORP', 'valor_1' : 0} , ignore_index=True)
#data2_activos.loc[5]=[ 'Apple', 14, 'Yes' ]
data2_activos = pd.DataFrame(np.insert(data2_activos.values, 5, values=[fecha_datos, 'BANCORP',  ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])

data2_activos

        fecha             institucion              valor_1
0  2020-03-31                   AVANZ   5,522,670,281.0900
1  2020-03-31                     BAC  50,873,942,088.8200
2  2020-03-31         BANCO ATLÁNTIDA     428,514,840.6800
3  2020-03-31           BANCO FICOHSA  14,479,596,241.3500
4  2020-03-31  BANCO LAFISE BANCENTRO  57,751,670,247.1400
5  2020-03-31                 BANCORP
6  2020-03-31                  BANPRO  69,045,826,501.7300
7  2020-03-31                     BDF  19,366,840,836.2800

In [57]:
data3_activos = data2_activos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_activos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-03-31,"5,522,670,281.0900","50,873,942,088.8200","428,514,840.6800","14,479,596,241.3500","57,751,670,247.1400",,"69,045,826,501.7300","19,366,840,836.2800"

In [58]:
#########################################################

In [59]:
data1_pasivos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='Pasivo'")
data1_pasivos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
460,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"4,518,121,970.6900",0.0000,2020,Marzo,1113-80202-20200331-360,Bancos
1545,Bancos,BAC,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"40,153,352,675.2800",0.0000,2020,Marzo,1107-80202-20200331-360,Bancos
2954,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"64,214,770.9100",0.0000,2020,Marzo,1149-80202-20200331-360,Bancos
3341,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"12,585,105,791.9800",0.0000,2020,Marzo,1109-80202-20200331-360,Bancos
4458,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"48,049,440,824.8400",0.0000,2020,Marzo,1106-80202-20200331-360,Bancos
6827,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"59,468,677,131.7200",0.0000,2020,Marzo,1105-80202-20200331-360,Bancos
8533,Bancos,BDF,Estado de Situación Financiera (ESF),2020-03-31,360,,Pasivo,,,"16,842,626,856.7300",0.0000,2020,Marzo,1108-80202-20200331-360,Bancos

In [60]:
data2_pasivos  = data1_pasivos[['fecha', 'institucion', 'valor_1']]
data2_pasivos = pd.DataFrame(np.insert(data2_pasivos.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0), 
                             columns =  ["fecha", "institucion", "valor_1"])
data2_pasivos

        fecha             institucion              valor_1
0  2020-03-31                   AVANZ   4,518,121,970.6900
1  2020-03-31                     BAC  40,153,352,675.2800
2  2020-03-31         BANCO ATLÁNTIDA      64,214,770.9100
3  2020-03-31           BANCO FICOHSA  12,585,105,791.9800
4  2020-03-31  BANCO LAFISE BANCENTRO  48,049,440,824.8400
5  2020-03-31                 BANCORP
6  2020-03-31                  BANPRO  59,468,677,131.7200
7  2020-03-31                     BDF  16,842,626,856.7300

In [61]:
data3_pasivos = data2_pasivos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_pasivos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-03-31,"4,518,121,970.6900","40,153,352,675.2800","64,214,770.9100","12,585,105,791.9800","48,049,440,824.8400",,"59,468,677,131.7200","16,842,626,856.7300"

In [62]:
#####################################################################

In [63]:
data1_patrimonio = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='PATRIMONIO'")
data1_patrimonio

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
477,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"1,004,548,310.3600",0.0000,2020,Marzo,1113-80202-20200331-610,Bancos
1562,Bancos,BAC,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"10,720,589,413.5400",0.0000,2020,Marzo,1107-80202-20200331-610,Bancos
2969,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"364,300,069.7700",0.0000,2020,Marzo,1149-80202-20200331-610,Bancos
3361,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"1,894,490,449.3700",0.0000,2020,Marzo,1109-80202-20200331-610,Bancos
4477,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"9,702,229,422.3000",0.0000,2020,Marzo,1106-80202-20200331-610,Bancos
6848,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"9,577,149,370.0100",0.0000,2020,Marzo,1105-80202-20200331-610,Bancos
8554,Bancos,BDF,Estado de Situación Financiera (ESF),2020-03-31,610,,PATRIMONIO,,,"2,524,213,979.5500",0.0000,2020,Marzo,1108-80202-20200331-610,Bancos

In [64]:
data2_patrimonio  = data1_patrimonio[['fecha', 'institucion', 'valor_1']]
data2_patrimonio = pd.DataFrame(np.insert(data2_patrimonio.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_patrimonio

        fecha             institucion              valor_1
0  2020-03-31                   AVANZ   1,004,548,310.3600
1  2020-03-31                     BAC  10,720,589,413.5400
2  2020-03-31         BANCO ATLÁNTIDA     364,300,069.7700
3  2020-03-31           BANCO FICOHSA   1,894,490,449.3700
4  2020-03-31  BANCO LAFISE BANCENTRO   9,702,229,422.3000
5  2020-03-31                 BANCORP
6  2020-03-31                  BANPRO   9,577,149,370.0100
7  2020-03-31                     BDF   2,524,213,979.5500

In [65]:
data3_patrimonio = data2_patrimonio.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_patrimonio

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-03-31,"1,004,548,310.3600","10,720,589,413.5400","364,300,069.7700","1,894,490,449.3700","9,702,229,422.3000",,"9,577,149,370.0100","2,524,213,979.5500"

In [66]:
#####################################################################

In [67]:
data1_impuestos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Resultados (ER)' & variable_1=='Resultados de operaciones antes de Impuestos y Contribuciones por Leyes Especiales'")
data1_impuestos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
427,Bancos,AVANZ,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"11,725,242.7300",0.0000,2020,Marzo,1113-80302-20200331-320,Bancos
1512,Bancos,BAC,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"384,846,498.4600",0.0000,2020,Marzo,1107-80302-20200331-320,Bancos
2930,Bancos,BANCO ATLÁNTIDA,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"-16,032,637.9000",0.0000,2020,Marzo,1149-80302-20200331-320,Bancos
3309,Bancos,BANCO FICOHSA,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"18,881,015.3100",0.0000,2020,Marzo,1109-80302-20200331-320,Bancos
4422,Bancos,BANCO LAFISE BANCENTRO,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"327,772,028.2500",0.0000,2020,Marzo,1106-80302-20200331-320,Bancos
6791,Bancos,BANPRO,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"320,274,233.2100",0.0000,2020,Marzo,1105-80302-20200331-320,Bancos
8499,Bancos,BDF,Estado de Resultados (ER),2020-03-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"49,883,979.0800",0.0000,2020,Marzo,1108-80302-20200331-320,Bancos

In [68]:
data2_impuestos  = data1_impuestos[['fecha', 'institucion', 'valor_1']]
data2_impuestos = pd.DataFrame(np.insert(data2_impuestos.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_impuestos

        fecha             institucion           valor_1
0  2020-03-31                   AVANZ   11,725,242.7300
1  2020-03-31                     BAC  384,846,498.4600
2  2020-03-31         BANCO ATLÁNTIDA  -16,032,637.9000
3  2020-03-31           BANCO FICOHSA   18,881,015.3100
4  2020-03-31  BANCO LAFISE BANCENTRO  327,772,028.2500
5  2020-03-31                 BANCORP
6  2020-03-31                  BANPRO  320,274,233.2100
7  2020-03-31                     BDF   49,883,979.0800

In [69]:
data3_impuestos = data2_impuestos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_impuestos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-03-31,"11,725,242.7300","384,846,498.4600","-16,032,637.9000","18,881,015.3100","327,772,028.2500",,"320,274,233.2100","49,883,979.0800"

In [70]:
#####################################################################

In [71]:
data1_leyes = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Resultados (ER)' & variable_1=='Contribuciones por Leyes Especiales'")
data1_leyes

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
428,Bancos,AVANZ,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"4,333,932.6100",0.0000,2020,Marzo,1113-80302-20200331-330,Bancos
1513,Bancos,BAC,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"34,177,461.6400",0.0000,2020,Marzo,1107-80302-20200331-330,Bancos
2931,Bancos,BANCO ATLÁNTIDA,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"328,481.8600",0.0000,2020,Marzo,1149-80302-20200331-330,Bancos
3310,Bancos,BANCO FICOHSA,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"9,055,098.6400",0.0000,2020,Marzo,1109-80302-20200331-330,Bancos
4423,Bancos,BANCO LAFISE BANCENTRO,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"33,659,842.9900",0.0000,2020,Marzo,1106-80302-20200331-330,Bancos
6792,Bancos,BANPRO,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"43,319,248.2100",0.0000,2020,Marzo,1105-80302-20200331-330,Bancos
8500,Bancos,BDF,Estado de Resultados (ER),2020-03-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"14,075,047.2900",0.0000,2020,Marzo,1108-80302-20200331-330,Bancos

In [72]:
data2_leyes  = data1_leyes[['fecha', 'institucion', 'valor_1']]
data2_leyes = pd.DataFrame(np.insert(data2_leyes.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_leyes

        fecha             institucion          valor_1
0  2020-03-31                   AVANZ   4,333,932.6100
1  2020-03-31                     BAC  34,177,461.6400
2  2020-03-31         BANCO ATLÁNTIDA     328,481.8600
3  2020-03-31           BANCO FICOHSA   9,055,098.6400
4  2020-03-31  BANCO LAFISE BANCENTRO  33,659,842.9900
5  2020-03-31                 BANCORP
6  2020-03-31                  BANPRO  43,319,248.2100
7  2020-03-31                     BDF  14,075,047.2900

In [73]:
data3_leyes = data2_leyes.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_leyes

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-03-31,"4,333,932.6100","34,177,461.6400","328,481.8600","9,055,098.6400","33,659,842.9900",,"43,319,248.2100","14,075,047.2900"

In [74]:
#!pip install pygsheets

In [75]:
import pygsheets
#gc = pygsheets.authorize(service_account_file = r'C:\\Users\\Deybi.Morales\\Google Drive\\Scripts\\JUPYTERLAB\\elegant-weaver-254616-b76ad103c4e5.json')
gc = pygsheets.authorize(service_account_file = 'C:/Users/JENNY/Desktop/BORRAR HOY/elegant-weaver-254616-b76ad103c4e5.json')
sh = gc.open('INDICADOR_Z')

In [76]:
sh

In [77]:
############################################

In [78]:
wks = sh.worksheet_by_title("ACTIVOS")

#data3_activos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_activos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_activos.iloc[:,1:].values).tolist())

In [79]:
###########################################

In [80]:
wks = sh.worksheet_by_title("PASIVOS")

#data3_pasivos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_pasivos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_pasivos.iloc[:,1:].values).tolist())

In [81]:
###########################################

In [82]:
wks = sh.worksheet_by_title("PATRIMONIO")

#data3_patrimonio['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_patrimonio['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_patrimonio.iloc[:,1:].values).tolist())

In [83]:
###########################################

In [84]:
#data3_impuestos
wks = sh.worksheet_by_title("RESULTADO_ANT")

#data3_impuestos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_impuestos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_impuestos.iloc[:,1:].values).tolist())

In [85]:
###########################################

In [86]:
#data3_leyes
wks = sh.worksheet_by_title("CONTRIBUCIONES_LEY")

#data3_leyes['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_leyes['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_leyes.iloc[:,1:].values).tolist())