# Extrayendo datos

In [120]:
'''
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
#drive.flush_and_unmount()
'''

"\nfrom google.colab import drive\ndrive.mount('/content/drive', force_remount=True)\n#drive.flush_and_unmount()\n"

In [121]:
linea = 147

In [122]:
import numpy as np
import pandas as pd

In [123]:
data = pd.read_json('http://www.siboif.gob.ni/rest/estadisticas?intendencia=Bancos&fecha[min]=2020-01-01&fecha[max]=2020-01-31&tipo_reporte') #, orient='split')

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5541 entries, 0 to 5540
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   intendencia       5541 non-null   object
 1   institucion       5541 non-null   object
 2   tipo_reporte      5541 non-null   object
 3   fecha             5541 non-null   object
 4   orden             5541 non-null   int64
 5   grupo             5541 non-null   object
 6   variable_1        5541 non-null   object
 7   variable_2        5541 non-null   object
 8   variable_3        5541 non-null   object
 9   valor_1           5541 non-null   object
 10  valor_2           5541 non-null   int64
 11  anio              5541 non-null   int64
 12  mes               5541 non-null   object
 13  key               5541 non-null   object
 14  tipo_institucion  5376 non-null   object
dtypes: int64(3), object(12)
memory usage: 649.5+ KB

In [125]:
data.columns

Index(['intendencia', 'institucion', 'tipo_reporte', 'fecha', 'orden', 'grupo',
       'variable_1', 'variable_2', 'variable_3', 'valor_1', 'valor_2', 'anio',
       'mes', 'key', 'tipo_institucion'],
      dtype='object')

In [126]:
data.institucion.unique()

array(['SF', 'SFB', 'SFN', 'AVANZ', 'BAC', 'BANCO ATLÁNTIDA',
       'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCO PRODUZCAMOS',
       'BANPRO', 'BDF', 'FINANCIERA FAMA', 'Financiera FDL, S.A.',
       'FINANCIERA FINCA NICARAGUA', 'FINANCIERA FUNDESER', 'Total SFN',
       'TOTAL SFN'], dtype=object)

In [127]:
data.tipo_institucion.unique()

array([nan, 'Bancos', 'Financieras', 'Sistema Bancario',
       'Sistema Financiero', 'Total SFN', 'Totales'], dtype=object)

In [128]:
data.tipo_reporte.unique()

array(['Adecuación de Capital', 'Composicion de los Activos de Riesgos',
       'Encaje Legal', 'Estado de Resultados (ER)',
       'Estado de Situación Financiera (ESF)', 'Indicadores Financieros',
       'Monto Nocional', 'Otro Resultado Integral (ORI)',
       'Riesgo Crédito Calificación de Cartera',
       'Riesgo Crédito Cartera por Situación',
       'Riesgo Crédito Cartera Vencida y en Cobro Judicial por Actividad',
       'Riesgo Crédito Prestamos a Partes Relacionadas'], dtype=object)

In [129]:
data.variable_1.unique()

array(['I. TOTAL ACTIVOS DE RIESGO (A+B-C-D)',
       'A. Activos de Riesgo Ponderados (Anexo 2)',
       'Efectivo y Equivalentes de Efectivo',
       'Inversiones al Valor Razonable con Cambios en Resultados',
       'Inversiones al Valor Razonable con Cambios en Otro Resultado Integral',
       'Inversiones a Costo Amortizado, Neto',
       'Cartera de Créditos, Neta', 'Cuentas por cobrar, Neto',
       'Activos no corrientes Mantenidos para la Venta, neto',
       'Activos recibidos en recuperación de créditos',
       'Participaciones, Netas', 'Activo Material', 'Activos Intangibles',
       'Activos Fiscales', 'Otros Activos',
       'Cuentas Contingentes Deudoras, Netas',
       'B. Activos Nocionales por Riesgo Cambiario (Anexo 3)',
       'C. Menos: Ajustes Pendientes de Constituir',
       'D. Menos: Participaciones en Instrumentos de Capital',
       'II. CAPITAL MÍNIMO REQUERIDO',
       'III. BASE DE ADECUACION DE CAPITAL (A+B-C-D-E)',
       'A. Capital Primario', '1. Capital Pagado Ordinario',
       '2. Capital Pagado Preferente', '3. Donaciones Capitalizables',
       '4. Primas de Emisión', '5. Aportes para Incrementos de Capital',
       '6. Participaciones Minoritarias', '7. Reserva Legal',
       '8. Resultados Acumulados',
       '9. Otras Reservas de Caracter Irrevocable',
       '10. Menos: Plusvalía mercantil (Fondo de Comercio, Neto)',
       '11. Menos: Otros Activos Netos de amortización',
       'B. Capital Secundario', '1. Donaciones No Capitalizables',
       '2. Otro Resultado Integral Neto (saldo negativo)',
       '3. Otras Reservas Patrimoniales',
       '4. Resultados Acumulados Computables', 'Resultados Acumulados',
       'Menos: Ajustes de transición que afectan resultados acumulados (anexo 5)',
       'Menos: Resultado Acumulado de Ejercicios Anteriores No Distribuibles',
       '5. Resultados del Ejercicio Computables',
       'Resultados del Ejercicio',
       'Menos: Resultado del Ejercicio No Distribuible',
       '6. Capital Preferente Acumulativo y Otros Instrumentos Híbridos',
       '7. Obligaciones Subordinadas y Capital Preferente Redimibles',
       '8. Provisiones Genéricas Voluntarias',
       '9. Fondo de Provisiones Anticíclicas',
       '10. Menos: Revaluación y ganancia por ventas de activos no financieros con financiamiento (anexos 6A1 y 6A2)',
       'C. Menos Exceso (Capital Primario - Capital Secundario)',
       'D. Menos: Ajustes Pendientes de Constituir', '1) Provisiones',
       '2) Otros ajustes',
       'E. Menos: Participaciones en Instrumentos de Capital',
       'IV. ADECUACION DE CAPITAL (III / I)', '125', '150', '0', '20',
       '50', '60', '100', 'Provisión de Cartera de Créditos',
       'Provisión para Bienes Recibidos en Recuperación de Créditos',
       'Provisión, Amortización y Deterioro de Otros Activos',
       'Encaje Semanal Córdobas', 'Encaje Semanal Dólares',
       'Ingresos Financieros', 'Ingresos Financieros por Efectivo',
       'Ingresos Financieros por Inversiones',
       'Ingresos Financieros por Cartera de Créditos',
       'Otros Ingresos Financieros', 'Gastos Financieros',
       'Gastos Financieros por Obligaciones con el Público',
       'Gastos Financieros por Depósitos de Instituciones Financieras y de Organismos Internacionales',
       'Gastos Financieros por Operaciones de Reporto',
       'Gastos Financieros por Obligaciones con Instituciones Financieras y por Otros Financiamientos',
       'Otros Gastos Financieros',
       'Margen Financiero antes de Mantenimiento de Valor',
       'Ajustes netos por Mantenimiento de Valor',
       'Margen Financiero, bruto',
       'Resultados por Deterioro de Activos Financieros',
       'Margen Financiero, neto después de Deterioro de Activos Financieros',
       'Ingresos (Gastos) Operativos, neto', 'Resultado Operativo',
       'Ganancia por Valoración y Venta de Activos y Otros Ingresos',
       'Pérdida por Valoración y Venta de Activos',
       'Resultado después de Ingresos y Gastos operativos',
       'Ajustes netos por Diferencial Cambiario',
       'Resultado después de Diferencial Cambiario',
       'Gastos de Administración',
       'Resultados de operaciones antes de Impuestos y Contribuciones por Leyes Especiales',
       'Contribuciones por Leyes Especiales',
       'Gasto por Impuesto sobre la Renta', 'RESULTADO DEL EJERCICIO',
       'Activo', 'Moneda Nacional', 'Caja', 'Banco Central de Nicaragua',
       'Instituciones Financieras', 'Equivalentes de Efectivo',
       'Moneda Extranjera', 'Depósitos Restringidos',
       'Inversiones a Valor Razonable con Cambios en Otro Resultado Integral',
       'Cartera a Costo Amortizado', 'Vigentes', 'Prorrogados',
       'Reestructurados', 'Vencidos', 'Cobro Judicial',
       '(-) Comisiones Devengadas con la Tasa de Interés Efectiva',
       'Intereses y Comisiones por Cobrar sobre Cartera de Créditos',
       '(-) Provisión de Cartera de Créditos', 'Cuentas por Cobrar, Neto',
       'Activos Recibidos en Recuperación de Créditos', 'Pasivo',
       'Pasivos Financieros a Costo Amortizado',
       'Obligaciones con el Público', 'Depósitos a la Vista',
       'Depósitos de Ahorro', 'Depósitos a Plazo',
       'Intereses sobre Obligaciones con el Público por Depósitos',
       'Otras Obligaciones Diversas con el Público',
       'Obligaciones por Depósitos de Instituciones Financieras y de Organismos Internacionales',
       'Obligaciones con Instituciones Financieras y por otros Financiamientos',
       'Pasivos Fiscales', 'Otros Pasivos y Provisiones', 'PATRIMONIO',
       'Fondos Propios', 'Capital Social Pagado', 'Aportes a Capitalizar',
       'Reservas Patrimoniales', 'Resultado del Ejercicio',
       'Otro Resultado Integral Neto', 'Ajustes de Transición',
       'CUENTAS CONTINGENTES', 'CUENTAS DE ORDEN',
       '1.- Captaciones del Publico',
       '2.- Cuota de Mercado en Captaciones del Público',
       '3.- Cartera de Créditos Bruta',
       '4.- Cuota de Mercado de Cartera de Créditos Bruta',
       '1.- Total Activos Improductivos netos',
       '2.- Activos Improductivos Brutos / Activo Total',
       '3.- Activos Improductivos Netos / Activo Total',
       '4.- Indice de Morosidad de Cartera de Créditos Bruta',
       '6.- Cobertura de la Cartera de Créditos Improductiva',
       '7.- Cobertura de la Cartera de Créditos Bruta',
       '8.- Cobertura con Provisiones Individuales',
       '9.- Cartera en Riesgo / Cartera Bruta', '1.1 - Créditos Vigentes',
       '1.2 - Créditos Prorrogados', '1.3 - Créditos Reestructurados',
       '1.4 - Créditos Vencidos', '1.5 - Créditos en Cobro Judicial',
       '1. Agricultura', '2. Ganadería', '3. Industria', '4. Comercio',
       '5. Hipotecarios para vivienda', '6. Personales', '7. Vehículos',
       '8. Adelantos de Salario', '9. Tarjetas de Crédito Personales',
       '10. Sector Público', '11. Desarrollo Habitacional o Urbano',
       '12. Otros', '13. Extrafinanciamientos',
       '14. Tarjetas de Crédito Corporativas',
       '15. Tarjetas de Crédito Microfinanzas',
       '16. Intrafinanciamiento de Tarjeta Crédito Personales',
       '17. Intrafinanciamiento de Tarjeta Crédito Corporativas',
       '18. Intrafinanciamiento de Tarjeta Crédito por Operaciones de Microfinanzas',
       '19. Viviendas de Interés Social',
       '1. - Total Evaluación de Cartera', '1.1 Clasificación A',
       '1.2 Clasificación B', '1.3 Clasificación C',
       '1.4 Clasificación D', '1.5 Clasificación E',
       '1.- Razón de Capital (Nivel 1 + 2 + 3)* s/ APBR',
       'a.- Razón de Apalancamiento Financiero (Nivel 1+2+3)',
       'b.- Razón de Endeudamiento (Nivel 1 + 2 + 3)',
       '2.- Vulnerabilidad del Patrimonio',
       '3.- Capital Primario + Resultados de periodos anteriores / APBR',
       '1.- Efectivo y Equivalentes de Efectivo  / Captaciones del Público',
       '2.- Efectivo y Equivalentes de Efectivo / Cartera de Crédito Bruta',
       '1.- % Margen Financiero en Riesgo',
       '2.- Margen Financiero en Riesgo / Patrimonio',
       '3.- Valor Económico del Capital',
       '4.- Valor Económico del Capital (Dism)',
       'Indice de Morosidad de Cartera de Credito Bruta',
       'Indice de Morosidad de Cartera de Credito Neta',
       'Cobertura de la Cartera de Créditos Bruta',
       'Cobertura de la Cartera de Créditos Improductiva Bruta',
       'Cartera de Riesgo / Cartera Bruta', 'Activos M.N. c/m.v.',
       'Activos M.E.', 'Pasivos M.N. c/m.v.', 'Pasivos M.E.',
       'Monto Nocional M.N c/m.v.', 'Monto Nocional M.E.',
       'Monto Nocional de Activos por Riesgo Cambiario',
       'OTRO RESULTADO INTEGRAL',
       'Partidas que no se reclasificarán al Resultado del Ejercicio',
       'Reservas para Obligaciones Laborales al Retiro',
       'Resultados por Valoración',
       'Impuesto a las Ganancias relacionadas con los Componentes de Otro Resultado Integral',
       'Impuesto a las Ganancias relacionado con partidas que no se reclasifican',
       'Total Otro Resultado Integral', 'TOTAL RESULTADOS INTEGRALES',
       'A', 'B', 'C', 'D', 'E', 'Vigente', 'Prorrogadas',
       'Reestructuradas', 'Vencidas', 'Comercio', 'Personales',
       'Vehículos', 'Extra-Financiamiento', 'Tarjetas de Crédito',
       'Agricultura', 'Ganadería', 'Industria', 'Vivienda',
       'Hipotecarios', 'Otros', '2020.01',
       'Provisión para Créditos Contingentes',
       'Resultados por Participación en Asociadas, Negocios Conjuntos y Subsidiarias',
       'Participaciones',
       'Partidas que se reclasificarán al Resultado del Ejercicio',
       'Diferencia de Cotización de Instrumentos Financieros',
       'Impuesto a las ganancias relacionadas con los componentes de otro resultado integral',
       'Impuesto a las Ganancias relacionado con partidas que pueden ser reclasificadas',
       'Deterioro de Inversiones a Costo Amortizado',
       'Deterioro de Activos no Corrientes Mantenidos para la Venta',
       'Deterioro de Participaciones',
       'Gastos Financieros por Obligaciones con el Banco Central de Nicaragua',
       'Gastos Financieros por Obligaciones Subordinadas y/o Convertibles en Capital',
       'Pasivos por Operaciones de Reporto',
       'Obligaciones con el Banco Central de Nicaragua',
       'Obligaciones Subordinadas y/o Convertibles en Capital',
       'Activos no Corrientes Mantenidos para la Venta', 'Capital Donado',
       'Gastos Financieros por Emisión de Deuda',
       'Obligaciones por Emisión de Deuda',
       'Entidades Valoradas por el Método de la Participación',
       'Importes transferidos al Estado de Resultados'], dtype=object)

In [130]:
data1_activos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='Activo'")
data1_activos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
324,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"5,463,516,143.6700",0,2020,Enero,1113-80202-20200131-10,Bancos
724,Bancos,BAC,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"48,928,281,112.4900",0,2020,Enero,1107-80202-20200131-10,Bancos
1123,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"431,976,012.1500",0,2020,Enero,1149-80202-20200131-10,Bancos
1500,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"13,953,594,279.6400",0,2020,Enero,1109-80202-20200131-10,Bancos
1900,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"58,817,507,691.9800",0,2020,Enero,1106-80202-20200131-10,Bancos
2668,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"68,453,865,162.5100",0,2020,Enero,1105-80202-20200131-10,Bancos
3079,Bancos,BDF,Estado de Situación Financiera (ESF),2020-01-31,10,,Activo,,,"20,102,453,970.6300",0,2020,Enero,1108-80202-20200131-10,Bancos

In [131]:
fecha_datos = data1_activos.fecha.unique()[0]
fecha_datos

'2020-01-31'

In [132]:
data2_activos  = data1_activos[['fecha', 'institucion', 'valor_1']]
#data2_activos=data2_activos.append({'fecha' : fecha_datos , 'institucion' : 'BANCORP', 'valor_1' : 0} , ignore_index=True)
#data2_activos.loc[5]=[ 'Apple', 14, 'Yes' ]
data2_activos = pd.DataFrame(np.insert(data2_activos.values, 5, values=[fecha_datos, 'BANCORP',  ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])

data2_activos

        fecha             institucion              valor_1
0  2020-01-31                   AVANZ   5,463,516,143.6700
1  2020-01-31                     BAC  48,928,281,112.4900
2  2020-01-31         BANCO ATLÁNTIDA     431,976,012.1500
3  2020-01-31           BANCO FICOHSA  13,953,594,279.6400
4  2020-01-31  BANCO LAFISE BANCENTRO  58,817,507,691.9800
5  2020-01-31                 BANCORP
6  2020-01-31                  BANPRO  68,453,865,162.5100
7  2020-01-31                     BDF  20,102,453,970.6300

In [133]:
data3_activos = data2_activos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_activos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-01-31,"5,463,516,143.6700","48,928,281,112.4900","431,976,012.1500","13,953,594,279.6400","58,817,507,691.9800",,"68,453,865,162.5100","20,102,453,970.6300"

In [134]:
#########################################################

In [135]:
data1_pasivos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='Pasivo'")
data1_pasivos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
355,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"4,462,561,278.9500",0,2020,Enero,1113-80202-20200131-360,Bancos
753,Bancos,BAC,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"38,346,535,216.9100",0,2020,Enero,1107-80202-20200131-360,Bancos
1145,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"56,128,129.9031",0,2020,Enero,1149-80202-20200131-360,Bancos
1528,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"12,080,513,595.1400",0,2020,Enero,1109-80202-20200131-360,Bancos
1931,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"49,119,445,489.0000",0,2020,Enero,1106-80202-20200131-360,Bancos
2699,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"59,007,052,284.8300",0,2020,Enero,1105-80202-20200131-360,Bancos
3109,Bancos,BDF,Estado de Situación Financiera (ESF),2020-01-31,360,,Pasivo,,,"17,593,102,024.8200",0,2020,Enero,1108-80202-20200131-360,Bancos

In [136]:
data2_pasivos  = data1_pasivos[['fecha', 'institucion', 'valor_1']]
data2_pasivos = pd.DataFrame(np.insert(data2_pasivos.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0), 
                             columns =  ["fecha", "institucion", "valor_1"])
data2_pasivos

        fecha             institucion              valor_1
0  2020-01-31                   AVANZ   4,462,561,278.9500
1  2020-01-31                     BAC  38,346,535,216.9100
2  2020-01-31         BANCO ATLÁNTIDA      56,128,129.9031
3  2020-01-31           BANCO FICOHSA  12,080,513,595.1400
4  2020-01-31  BANCO LAFISE BANCENTRO  49,119,445,489.0000
5  2020-01-31                 BANCORP
6  2020-01-31                  BANPRO  59,007,052,284.8300
7  2020-01-31                     BDF  17,593,102,024.8200

In [137]:
data3_pasivos = data2_pasivos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_pasivos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-01-31,"4,462,561,278.9500","38,346,535,216.9100","56,128,129.9031","12,080,513,595.1400","49,119,445,489.0000",,"59,007,052,284.8300","17,593,102,024.8200"

In [138]:
#####################################################################

In [139]:
data1_patrimonio = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Situación Financiera (ESF)' & variable_1=='PATRIMONIO'")
data1_patrimonio

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
372,Bancos,AVANZ,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"1,000,954,864.7100",0,2020,Enero,1113-80202-20200131-610,Bancos
770,Bancos,BAC,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"10,581,745,895.5500",0,2020,Enero,1107-80202-20200131-610,Bancos
1159,Bancos,BANCO ATLÁNTIDA,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"375,847,882.2500",0,2020,Enero,1149-80202-20200131-610,Bancos
1548,Bancos,BANCO FICOHSA,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"1,873,080,684.5100",0,2020,Enero,1109-80202-20200131-610,Bancos
1950,Bancos,BANCO LAFISE BANCENTRO,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"9,698,062,202.9800",0,2020,Enero,1106-80202-20200131-610,Bancos
2720,Bancos,BANPRO,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"9,446,812,877.6800",0,2020,Enero,1105-80202-20200131-610,Bancos
3130,Bancos,BDF,Estado de Situación Financiera (ESF),2020-01-31,610,,PATRIMONIO,,,"2,509,351,945.8100",0,2020,Enero,1108-80202-20200131-610,Bancos

In [140]:
data2_patrimonio  = data1_patrimonio[['fecha', 'institucion', 'valor_1']]
data2_patrimonio = pd.DataFrame(np.insert(data2_patrimonio.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_patrimonio

        fecha             institucion              valor_1
0  2020-01-31                   AVANZ   1,000,954,864.7100
1  2020-01-31                     BAC  10,581,745,895.5500
2  2020-01-31         BANCO ATLÁNTIDA     375,847,882.2500
3  2020-01-31           BANCO FICOHSA   1,873,080,684.5100
4  2020-01-31  BANCO LAFISE BANCENTRO   9,698,062,202.9800
5  2020-01-31                 BANCORP
6  2020-01-31                  BANPRO   9,446,812,877.6800
7  2020-01-31                     BDF   2,509,351,945.8100

In [141]:
data3_patrimonio = data2_patrimonio.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_patrimonio

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-01-31,"1,000,954,864.7100","10,581,745,895.5500","375,847,882.2500","1,873,080,684.5100","9,698,062,202.9800",,"9,446,812,877.6800","2,509,351,945.8100"

In [142]:
#####################################################################

In [143]:
data1_impuestos = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Resultados (ER)' & variable_1=='Resultados de operaciones antes de Impuestos y Contribuciones por Leyes Especiales'")
data1_impuestos

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
320,Bancos,AVANZ,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"4,520,525.5000",0,2020,Enero,1113-80302-20200131-320,Bancos
720,Bancos,BAC,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"162,585,224.8400",0,2020,Enero,1107-80302-20200131-320,Bancos
1120,Bancos,BANCO ATLÁNTIDA,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"-4,687,323.6900",0,2020,Enero,1149-80302-20200131-320,Bancos
1496,Bancos,BANCO FICOHSA,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"7,295,365.0300",0,2020,Enero,1109-80302-20200131-320,Bancos
1896,Bancos,BANCO LAFISE BANCENTRO,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"120,347,595.2500",0,2020,Enero,1106-80302-20200131-320,Bancos
2664,Bancos,BANPRO,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"118,141,880.9300",0,2020,Enero,1105-80302-20200131-320,Bancos
3075,Bancos,BDF,Estado de Resultados (ER),2020-01-31,165,RESULTADO DEL EJERCICIO,Resultados de operaciones antes de Impuestos y...,,,"18,699,580.5300",0,2020,Enero,1108-80302-20200131-320,Bancos

In [144]:
data2_impuestos  = data1_impuestos[['fecha', 'institucion', 'valor_1']]
data2_impuestos = pd.DataFrame(np.insert(data2_impuestos.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_impuestos

        fecha             institucion           valor_1
0  2020-01-31                   AVANZ    4,520,525.5000
1  2020-01-31                     BAC  162,585,224.8400
2  2020-01-31         BANCO ATLÁNTIDA   -4,687,323.6900
3  2020-01-31           BANCO FICOHSA    7,295,365.0300
4  2020-01-31  BANCO LAFISE BANCENTRO  120,347,595.2500
5  2020-01-31                 BANCORP
6  2020-01-31                  BANPRO  118,141,880.9300
7  2020-01-31                     BDF   18,699,580.5300

In [145]:
data3_impuestos = data2_impuestos.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_impuestos

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-01-31,"4,520,525.5000","162,585,224.8400","-4,687,323.6900","7,295,365.0300","120,347,595.2500",,"118,141,880.9300","18,699,580.5300"

In [146]:
#####################################################################

In [147]:
data1_leyes = data.query("intendencia=='Bancos' &  tipo_institucion=='Bancos'  & institucion in ['AVANZ', 'BAC', 'BANCO ATLÁNTIDA', 'BANCO FICOHSA', 'BANCO LAFISE BANCENTRO', 'BANCORP', 'BANPRO', 'BDF'] & tipo_reporte=='Estado de Resultados (ER)' & variable_1=='Contribuciones por Leyes Especiales'")
data1_leyes

,intendencia,institucion,tipo_reporte,fecha,orden,grupo,variable_1,variable_2,variable_3,valor_1,valor_2,anio,mes,key,tipo_institucion
321,Bancos,AVANZ,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"1,442,900.9700",0,2020,Enero,1113-80302-20200131-330,Bancos
721,Bancos,BAC,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"13,117,770.1400",0,2020,Enero,1107-80302-20200131-330,Bancos
1121,Bancos,BANCO ATLÁNTIDA,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"139,705.6500",0,2020,Enero,1149-80302-20200131-330,Bancos
1497,Bancos,BANCO FICOHSA,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"3,014,794.0200",0,2020,Enero,1109-80302-20200131-330,Bancos
1897,Bancos,BANCO LAFISE BANCENTRO,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"11,673,651.5200",0,2020,Enero,1106-80302-20200131-330,Bancos
2665,Bancos,BANPRO,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"14,436,742.3700",0,2020,Enero,1105-80302-20200131-330,Bancos
3076,Bancos,BDF,Estado de Resultados (ER),2020-01-31,170,RESULTADO DEL EJERCICIO,Contribuciones por Leyes Especiales,,,"4,685,649.6500",0,2020,Enero,1108-80302-20200131-330,Bancos

In [148]:
data2_leyes  = data1_leyes[['fecha', 'institucion', 'valor_1']]
data2_leyes = pd.DataFrame(np.insert(data2_leyes.values, 5, values=[fecha_datos, 'BANCORP', ''], axis=0),
                             columns =  ["fecha", "institucion", "valor_1"])
data2_leyes

        fecha             institucion          valor_1
0  2020-01-31                   AVANZ   1,442,900.9700
1  2020-01-31                     BAC  13,117,770.1400
2  2020-01-31         BANCO ATLÁNTIDA     139,705.6500
3  2020-01-31           BANCO FICOHSA   3,014,794.0200
4  2020-01-31  BANCO LAFISE BANCENTRO  11,673,651.5200
5  2020-01-31                 BANCORP
6  2020-01-31                  BANPRO  14,436,742.3700
7  2020-01-31                     BDF   4,685,649.6500

In [149]:
data3_leyes = data2_leyes.pivot(index='fecha', columns='institucion', values='valor_1').reset_index()
data3_leyes

institucion,fecha,AVANZ,BAC,BANCO ATLÁNTIDA,BANCO FICOHSA,BANCO LAFISE BANCENTRO,BANCORP,BANPRO,BDF
0,2020-01-31,"1,442,900.9700","13,117,770.1400","139,705.6500","3,014,794.0200","11,673,651.5200",,"14,436,742.3700","4,685,649.6500"

In [150]:
#!pip install pygsheets

In [151]:
import pygsheets
#gc = pygsheets.authorize(service_account_file = r'C:\\Users\\Deybi.Morales\\Google Drive\\Scripts\\JUPYTERLAB\\elegant-weaver-254616-b76ad103c4e5.json')
gc = pygsheets.authorize(service_account_file = 'C:/Users/JENNY/Desktop/BORRAR HOY/elegant-weaver-254616-b76ad103c4e5.json')
sh = gc.open('INDICADOR_Z')

In [152]:
sh

In [153]:
############################################

In [154]:
wks = sh.worksheet_by_title("ACTIVOS")

#data3_activos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_activos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_activos.iloc[:,1:].values).tolist())

In [155]:
###########################################

In [156]:
wks = sh.worksheet_by_title("PASIVOS")

#data3_pasivos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_pasivos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_pasivos.iloc[:,1:].values).tolist())

In [157]:
###########################################

In [158]:
wks = sh.worksheet_by_title("PATRIMONIO")

#data3_patrimonio['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_patrimonio['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_patrimonio.iloc[:,1:].values).tolist())

In [159]:
###########################################

In [160]:
#data3_impuestos
wks = sh.worksheet_by_title("RESULTADO_ANT")

#data3_impuestos['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_impuestos['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_impuestos.iloc[:,1:].values).tolist())

In [161]:
###########################################

In [162]:
#data3_leyes
wks = sh.worksheet_by_title("CONTRIBUCIONES_LEY")

#data3_leyes['BANCORP'] = [0]

wks.update_value('B%s' % + linea , np.array(data3_leyes['fecha'])[0])
wks.update_values('C%s' % + linea + ':J%s' % + linea, np.array(data3_leyes.iloc[:,1:].values).tolist())